<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Tour Mới</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Thêm Tour Mới</h1>
        <a href="/quan-ly-tour">Quay lại danh sách Tour</a>
    </div>

    <div class="container">
        <form action="/them-tour" method="POST">
            <label for="TourID">Mã Tour</label>
            <input type="number" id="TourID" name="TourID" required>

            <label for="TourName">Tên Tour:</label>
            <input type="text" id="TourName" name="TourName" required>

            <label for="AdminID">Admin</label>
            <input type="number" id="AdminID" name="AdminID" required>

            <label for="Departure_Location">Nơi Xuất Phát:</label>
            <input type="text" id="Departure_Location" name="Departure_Location" required>

            <label for="Destination">Nơi Đến:</label>
            <input type="text" id="Destination" name="Destination" required>

            <label for="Description">Mô Tả:</label>
            <textarea id="Description" name="Description"></textarea>

            <label for="Departure_date">Ngày Xuất Phát:</label>
            <input type="date" id="Departure_date" name="Departure_date" required>

            <label for="Price">Giá Tour:</label>
            <input type="number" id="Price" name="Price" step="0.01" required>

            <label for="Num_tickets">Số Lượng Vé:</label>
            <input type="number" id="Num_tickets" name="Num_tickets" required>

            <button type="submit">Thêm Tour</button>
        </form>
    </div>
</body>
</html>
