<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa tour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Sửa Tour</h1>
        <a href="/quan-ly-tour">Quay lại danh sách Tour</a>
    </div>

    <div class="container">
        <form action="/sua-tour/{{ tour.TourID }}" method="POST">
            <label for="TourName">Tên Tour:</label>
            <input type="text" id="TourName" name="TourName" value="{{ tour.TourName }}" required>

            <label for="Departure_Location">Nơi Xuất Phát:</label>
            <input type="text" id="Departure_Location" name="Departure_Location" value="{{ tour.Departure_Location }}" required>

            <label for="Destination">Nơi Đến:</label>
            <input type="text" id="Destination" name="Destination" value="{{ tour.Destination }}" required>

            <label for="Departure_date">Ngày Xuất Phát:</label>
            <input type="date" id="Departure_date" name="Departure_date" value="{{ tour.Departure_date }}" required>

            <label for="Price">Giá Tour:</label>
            <input type="text" id="Price" name="Price" value="{{ tour.Price }}" required>

            <label for="Num_tickets">Số Lượng Vé:</label>
            <input type="number" id="Num_tickets" name="Num_tickets" value="{{ tour.Num_tickets }}" required>

            <button type="submit">Cập nhật</button>
        </form>
    </div>
</body>
</html>
