<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Khách Hàng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Thêm Khách Hàng Mới</h1>
    </div>

    <div class="container">
        <form action="{{ url_for('them_khach_hang') }}" method="POST">
            <label for="UserID">Mã khách hàng</label>
            <input type="number" id="UserID" name="UserID" required>

            <label for="Full_Name">Tên Khách Hàng:</label>
            <input type="text" id="Full_Name" name="Full_Name" required>
            
            <label for="ID_number">Số ID:</label>
            <input type="text" id="ID_number" name="ID_number" required>

            <label for="IdType">Loại ID:</label>
            <input type="text" id="IdType" name="IdType" required>

            <label for="Phone_number">Số Điện Thoại:</label>
            <input type="text" id="Phone_number" name="Phone_number" required>

            <label for="Email">Email:</label>
            <input type="Email" id="Email" name="Email">

            <label for="Address">Địa Chỉ:</label>
            <input type="text" id="Address" name="Address">

            <label for="AdminID">Admin</label>
            <input type="number" id="AdminID" name="AdminID" required>

            <input type="submit" value="Thêm Khách Hàng">
        </form>
    </div>
</body>
</html>
